@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .nav-link {
    @apply text-sky-50 hover:text-sky-400 transition-colors;
  }
}

.EasyMDEContainer .CodeMirror {
  background: #141414;
  color: white;
}

.EasyMDEContainer .CodeMirror-cursor {
  border-left: 1px solid #ffffff;
}

.editor-toolbar {
  background: #1a1a1a;
}

.editor-toolbar button:hover {
  background: #1a1a1a !important;
}

.editor-toolbar button.active {
  background: #1a1a1a !important;
}

.rt-TextFieldRoot {
  border: solid 1px #ced4da;
  border-radius: 0.5rem;
}

.rt-TableRow {
  vertical-align: middle !important;
}

.rt-BaseMenuItem {
  cursor: pointer !important;
}
